body{
    text-align: center;
    font-family: "Arial";
    color: #3f0000;
    background-color: aquamarine;
}

#contenedor {
    width: 70%;
    padding: 1cm;
    text-align: left;
    border: 1px solid #000000;
    margin: 0 auto;
}

#cabecera{
    background-color: #0000ff;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    box-shadow: #000000 solid 1px 1px 1px 1px;
}